@model Actividad_1_U4.Models.Usuario
@{ Layout = "_Layout"; }

<main>
    <h1>Cambiar Contraseña</h1>
    <form method="post" action="~/Home/CambiarContra">
        <h2 style="font-family:'Another Flight'">Ingrese la contraseña actual</h2>
        <input type="password" name="contraseña" placeholder="Contraseña actual" asp-for="Contraseña" style="margin:10px" />
        <br />
        <input type="text" name="correo" value="@User.Claims.FirstOrDefault(x=>x.Type=="Correo").Value" style="visibility:hidden" /> <br />
        <input type="password" name="nuevaContraseña" placeholder="Nueva contraseña" required/>
        <br />
        <input type="password" name="confirmarNuevaContraseña" placeholder="Confirme nueva contraseña" style="margin:10px" required/><br />
        @Html.ValidationSummary()
        <input type="submit" value="Guardar" />
    </form>
</main>

